<!DOCTYPE html>
<html>
<head>
  <title>InSTEDD Telemetry</title>
  <%= stylesheet_link_tag    "instedd_telemetry/application", media: "all" %>
  <%= javascript_include_tag "instedd_telemetry/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
