<% unless InsteddTelemetry::Setting.get_bool(:dismissed) %>
<div class="telemetry-warning">
  <h3>WARNING</h3>
  <p>TELEMETRY IS RUNNING IN THIS SERVER!!!!!</p>
  <%= link_to 'Dismiss',  instedd_telemetry.dismiss_path %>
  <%= link_to 'Configure',  instedd_telemetry.configure_path %>
</div>
<% end %>
