<% unless InsteddTelemetry::Setting.get_bool(:dismissed) || controller.kind_of?(InsteddTelemetry::TelemetryController) %>
<div id="telemetry-warning">
  <h3>WARNING</h3>
  <p>TELEMETRY IS RUNNING IN THIS SERVER!!!!!</p>
  <%= link_to 'Dismiss',  instedd_telemetry.dismiss_path(redirect_url: request.fullpath) %>
  <%= link_to 'Configure',  instedd_telemetry.configure_path %>
</div>
<% end %>
