<h3>Telemetry settings</h3>
<form action="<%= url_for controller: :telemetry, action: :configuration_update %>" method="POST">
  <div>
    <label for="telemetry_enabled">Do you agree to send usage stats of this application to InSTEDD?</label>
    <input value="true" type="checkbox" name="telemetry_enabled" checked>
  </div>
  <div>
    <label for="admin_email">Would you like to share your email with us?</label>
    <input type="text" name="admin_email">
  </div>
  <div>
    <input type="submit">
  </div>
</form>